.home {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  // display: flex;
  // justify-content: space-around;
  margin-left: 325px;
  margin-right: 12px;
  padding: 0 25px;
  background: #fff;
}
